
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import "react-slideshow-image/dist/styles.css";

/* DROPDOWN */

li>ul {
    transform: translatex(100%) scale(0)
}

li:hover>ul {
    transform: translatex(101%) scale(1)
}

li>button svg {
    transform: rotate(-90deg)
}

li:hover>button svg {
    transform: rotate(-270deg)
}

.group:hover .group-hover\:scale-100 {
    transform: scale(1)
}

.group:hover .group-hover\:-rotate-180 {
    transform: rotate(180deg)
}

.scale-0 {
    transform: scale(0)
}

.min-w-32 {
    min-width: 8rem
}


.each-slide>div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 70vh;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* relative flex justify-center align-center */

.container .card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 40px;
    display: flex;
    transition: 0.5s;
    justify-content: flex-start;
    background-color: rgba(194, 44, 13, 1);
    border-radius: 10%;
}

/* relative w-96(384px) md:w-auto md:max-w-sm lg:w-96(384px) h-80(320px) my-10 mx-5 lg:m-5 flex justify-start items-center md:itemns-start bg-primary-red rounded-sm (¿ease-out duration-500?) */

.container .card:hover{
    height:500px;
}

.container .card img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
    width: 450px;
    height: 400px;
}

/* absolute w-96(450px) h-96(400px) bottom-0 left-1/2 translate-x-2 (¿ease-out duration-500?)*/

.container .card:hover img {
    height: 250px;
    width: 250px;
}

/* left-3/4 h-80(350px) w-96(400px) md:h-96 lg:h-96 lg:w-96 */

.container .card .content {
    position: relative;
    width: 100%;
    left: 0;
    padding: 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

/* relative w-full lg:w-6/12 left-0 lg:left-1/4 py-5 pr-5 pl-10 opacity-0 invisible (¿ease-out duration-500?)*/

.container .card:hover .content {
    opacity: 1;
    visibility: visible;
}

/* left-0 opacity-100 visibible */

.container .card .content h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 32px;
}

/* text-white uppercase text-3xl leading-8 */

.container .card .content p {
    color: #fff;
}

@media(min-width:768px) {
    .container .card{
        width:auto;
        max-width: 400px;
        align-items: flex-start;
    }

    .container .card img {
        width:450px;
        height:400px;
    }

    .container .card:hover img{
        height:320px;
    }

    .container .card .content{
        width:100%;
        left:0;
        padding:40px;
    }

    .container .card .content p {
        font-size: 14px;
    }
}

@media(min-width:1024px) {

    .container {
        flex-direction: row;
    }

    .container .card {
        margin: 20px;
    }

    .container .card:hover {
        height: 350px;
    }

    .container .card .content {
        width: 50%;
        left: 10%;
        padding: 20px 20px 20px 20px;
    }

    .container .card:hover .content {
        left: 0;
    }

    /* .container .card img {} */

    .container .card:hover img {
        left:73%;
        height: 384px;
        width: 384px;
    }

    /* .container .card .content p {
        font-size: 16px;
    } */
}